body {
  font-family: 'Raleway', sans-serif;
  background-color: #f7f7f7;
}

div.container {
  text-align: center;
  padding: 30px;
  border: 1px solid#e3e3e3;
  border-radius: 6px;
  width: 70%;
  margin: 40px auto;
  background-color: #fff;
}

.todo-list {
  list-style: none;
  margin-right: 20px;
  margin-top: 75px;
}

.todo-list > li {
  margin: 30px auto;
  font-size: 22px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.app-header {
  font-size: 50px;
  margin-bottom: 35px;
  margin-left: 65px;
  display: inline-block;
}

.check-image {
  width: 88px;
  margin-left: 22px;
  margin-bottom: 20px;
}

hr {
  width: 80%;
}

input[type='text'] {
  margin-top: 7px;
}

span.todo-text {
  padding-right: 20px;
}

#cancel-edit {
  font-size: 21px;
  line-height: 44px;
  letter-spacing: 1px;
  padding: 8px;
}

#cancel-edit:hover {
  cursor: pointer;
}
